<aside class="w-64 h-full min-h-screen bg-[var(--box_background)] flex flex-col py-8 px-4 shadow-lg
                  fixed md:static z-30 transition-transform duration-300 md:translate-x-0 -translate-x-full "
        id="sidebar">
        <nav class="flex-1 space-y-2">
            <a href="{% url 'dashboard' %}"
                class="block py-2 px-4 rounded-lg text-[var(--text_primary)] hover:bg-[var(--primary)] hover:text-[var(--text_secondary)] transition font-bold {% if request.resolver_match.url_name == 'dashboard' %}bg-[var(--secondary)] text-[var(--text_secondary)]{% endif %}">DASHBOARD</a>
            <a href="{% url 'sell' %}"
                class="block py-2 px-4 rounded-lg text-[var(--text_primary)] hover:bg-[var(--primary)] hover:text-[var(--text_secondary)] transition font-bold {% if request.resolver_match.url_name|slice:'0:4' == 'sell' %}bg-[var(--secondary)] text-[var(--text_secondary)]{% endif %}">SELL</a>
            
            <a href="{% url 'buy' %}"
                class="block py-2 px-4 rounded-lg text-[var(--text_primary)] hover:bg-[var(--primary)] hover:text-[var(--text_secondary)] transition font-bold {% if request.resolver_match.url_name == 'buy' %}bg-[var(--secondary)] text-[var(--text_secondary)]{% endif %}">STOCK</a>
            <a href="{% url 'expense' %}"
                class="block py-2 px-4 rounded-lg text-[var(--text_primary)] hover:bg-[var(--primary)] hover:text-[var(--text_secondary)] transition font-bold {% if request.resolver_match.url_name == 'expense' %}bg-[var(--secondary)] text-[var(--text_secondary)]{% endif %}">EXPENSE</a>
            <a href="{% url 'customer' %}"
                class="block py-2 px-4 rounded-lg text-[var(--text_primary)] hover:bg-[var(--primary)] hover:text-[var(--text_secondary)] transition font-bold {% if request.resolver_match.url_name == 'customer' %}bg-[var(--secondary)] text-[var(--text_secondary)]{% endif %}">CUSTOMER</a>
            <a href="{% url 'vendor_list' %}"
                class="block py-2 px-4 rounded-lg text-[var(--text_primary)] hover:bg-[var(--primary)] hover:text-[var(--text_secondary)] transition font-bold {% if request.resolver_match.url_name == 'vendor_list' %}bg-[var(--secondary)] text-[var(--text_secondary)]{% endif %}">VENDORS</a>
            <a href="{% url 'payments_home' %}"
                class="block py-2 px-4 rounded-lg text-[var(--text_primary)] hover:bg-[var(--primary)] hover:text-[var(--text_secondary)] transition font-bold {% if request.resolver_match.url_name == 'payments' %}bg-[var(--secondary)] text-[var(--text_secondary)]{% endif %}">PAYMENTS</a>
            

        </nav>
    </aside>